<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.min.js"></script>
    
    <script src="../scripts/rutas.js"></script>
    <script src="../scripts/funcion.js"></script>
                
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body ng-app="webappApp">
	<div class="center" ng-view="">
		
	</div>
</body>
</html>