<!DOCTYPE html>
<html>
<head>
<link href="../styles/estiloMusica.css" rel="stylesheet" type="text/css">
<script src=" http://code.jquery.com/jquery-latest.js"></script>
<script src="../scripts/codigo.js"></script>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
	<header>
		<div class="contenedor">
			<div class="logo">
				<img src="http://www.de-mentes.com.ar/music/piezas/logos/img/bandas_logo_factor-metal.jpg" width="25%">
				
			</div>
			
			<nav>
				<ul>
					<li><a href="#">Inicio</a></li>
					<li><a href="#">Metal</a></li>
					<li><a href="#">Rock</a></li>
					<li><a href="#">Electronica</a></li>
					<li><a href="#">Rap</a></li>
				</ul>
			</nav>
		</div>
	</header>
	
	<div class="contenedor">
	M&uacute;sica. Es el Arte de organizar sensible y l&oacute;gicamente una combinaci&oacute;n coherente de Sonidos y Silencios utilizando los 
	principios fundamentales de la Melod&iacute;a, la Armon&iacute;a y el Ritmo, mediante la intervenci&oacute;n de complejos procesos psico-an&iacute;micos. 
	Seg&uacute;n el griego: μουσική [τέχνη] - mousikē [t&eacute;chnē], "el arte de las Musas")
	</div>
</body>
</html>